In [0]:
import pandas as pd, numpy as np

In [0]:

!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

link1 = 'https://drive.google.com/open?id=1sO4GiSBEuqlLLhrRNK2gsHMcchn4JaKU'
link2 = 'https://drive.google.com/open?id=1eUEkS2QRi8BMNp0cTbnLGzqw38jxK78O'
link3 = 'https://drive.google.com/open?id=1qq9VwyKuVQfm7GXVBq-BXuYo6KYTlTMx'
link4 = 'https://drive.google.com/open?id=1LbcwTkJjeyLO7r0rcswf0dlJ6fQxc2gl'

def read_file(link):
  print(link)
  fluff, id = link.split('d=')
  print (id) # Verify that you have everything after '='

  downloaded = drive.CreateFile({'id':id}) 
  downloaded.GetContentFile('temp.csv')
  return pd.read_csv('temp.csv')

In [0]:
real_tweets_df = read_file(link1)


real_tweets_df.shape

https://drive.google.com/open?id=1sO4GiSBEuqlLLhrRNK2gsHMcchn4JaKU
1sO4GiSBEuqlLLhrRNK2gsHMcchn4JaKU

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

(2839362, 25)

In [0]:
real_tweets_df.head()

                   id  ...              updated
0  593932392663912449  ...  2015-05-01 12:57:19
1  593895316719423488  ...  2015-05-01 12:57:19
2  593880638069018624  ...  2015-05-01 12:57:19
3  593847955536252928  ...  2015-05-01 12:57:19
4  593847687847350272  ...  2015-05-01 12:57:19

[5 rows x 25 columns]

In [0]:
real_tweets_df = real_tweets_df[['text','user_id']]

In [0]:
real_tweets_df.shape

(2839362, 2)

In [0]:
real_tweets_df['is_bot'] = np.zeros(shape=(real_tweets_df.shape[0],1))

real_tweets_df.head()

                                                text   user_id  is_bot
0  RT @morningJewshow: Speaking about Jews and co...  678033.0     0.0
1  This age/face recognition thing..no reason pla...  678033.0     0.0
2  Only upside of the moment I can think of is th...  678033.0     0.0
3  If you're going to think about+create experien...  678033.0     0.0
4  Watching a thread on FB about possible future ...  678033.0     0.0

In [0]:
bot_tweets_df = read_file(link2)
bot_tweets_df.shape

https://drive.google.com/open?id=1eUEkS2QRi8BMNp0cTbnLGzqw38jxK78O
1eUEkS2QRi8BMNp0cTbnLGzqw38jxK78O

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

(1610034, 25)

In [0]:
bot_tweets_df.head()

                   id  ...              updated
0  532627591686275072  ...  2014-11-12 21:44:09
1  532624255058706432  ...  2014-11-12 21:44:09
2  532513524460052480  ...  2014-11-12 21:44:09
3  532297646669852672  ...  2014-11-12 21:44:09
4  532295960807100416  ...  2014-11-12 21:44:09

[5 rows x 25 columns]

In [0]:
bot_tweets_df = bot_tweets_df[['text','user_id']]
bot_tweets_df.shape

(1610034, 2)

In [0]:
bot_tweets_df2 = read_file(link3)
bot_tweets_df2.shape

https://drive.google.com/open?id=1qq9VwyKuVQfm7GXVBq-BXuYo6KYTlTMx
1qq9VwyKuVQfm7GXVBq-BXuYo6KYTlTMx

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

(428542, 25)

In [0]:
bot_tweets_df2 = bot_tweets_df2[['text','user_id']]
bot_tweets_df2.shape

(428542, 2)

In [0]:
bot_tweets_df3 = read_file(link4)
bot_tweets_df3.shape

https://drive.google.com/open?id=1LbcwTkJjeyLO7r0rcswf0dlJ6fQxc2gl
1LbcwTkJjeyLO7r0rcswf0dlJ6fQxc2gl

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (7,10) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

(1418557, 25)

In [0]:
bot_tweets_df3 = bot_tweets_df3[['text','user_id']]
bot_tweets_df3.shape

(1418557, 2)

In [0]:
bots_data = pd.concat([bot_tweets_df,bot_tweets_df2,bot_tweets_df3],ignore_index=True)
bots_data.shape

(3457133, 2)

In [0]:
bots_data.head()

                                                text   user_id
0   I Pooh - In silenzio 1968 http://t.co/ahvQxUqTws  24858289
1                             http://t.co/HyI5EQKz6Q  24858289
2  Tutti a tavola, con il filetto di baccalà. htt...  24858289
3                             http://t.co/NAHQ4l2pUy  24858289
4       Gold - Spandau Ballet http://t.co/o8ZJHt7Neu  24858289

In [0]:
bots_data['is_bot'] = np.ones(shape = (bots_data.shape[0],1))
bots_data.head()

                                                text   user_id  is_bot
0   I Pooh - In silenzio 1968 http://t.co/ahvQxUqTws  24858289     1.0
1                             http://t.co/HyI5EQKz6Q  24858289     1.0
2  Tutti a tavola, con il filetto di baccalà. htt...  24858289     1.0
3                             http://t.co/NAHQ4l2pUy  24858289     1.0
4       Gold - Spandau Ballet http://t.co/o8ZJHt7Neu  24858289     1.0

In [0]:
combined_df = pd.concat([real_tweets_df.sample(frac = 1).reset_index(drop=True).loc[:100000,:],bots_data.sample(frac = 1).reset_index(drop=True).loc[:100000,:]],ignore_index=True)
combined_df.shape

(200002, 3)

In [0]:
combined_df.dropna(inplace=True)

In [0]:
Y = combined_df['is_bot']
X = combined_df.drop(columns=['is_bot'])

In [0]:
Y.shape

(199563,)

In [0]:
X.shape

(199563, 2)

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test, Y_train, Y_test =  train_test_split(X['text'], Y, test_size =0.20, random_state= 4, stratify = Y)

In [0]:
X_train,X_test = X_train.reset_index(drop=True),X_test.reset_index(drop=True)
X_train.head()

0    Si dice che i soldi vanno e vengono....ma come...
1    @Realtaeyang you guys so cute~ enjoy the fligh...
2    RT @shar9ptrs: @jennifergould.  Sending love n...
3    Oh, give us the man who sings at his work. - T...
4                               P http://t.co/0ph5010I
Name: text, dtype: object

In [0]:
X_train.shape

(159650,)

# data pre processing

In [0]:
X_test.shape

(39913,)

In [0]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
# prepare tokenizer
t = Tokenizer()
t.fit_on_texts(X_train)
vocab_size = len(t.word_index) + 1

Using TensorFlow backend.

In [0]:
MAX_SEQUENCE_LENGTH = 256

In [0]:
encoded_sentences = t.texts_to_sequences(X_train)

In [0]:
x_pad = pad_sequences(encoded_sentences, maxlen = MAX_SEQUENCE_LENGTH, padding = 'post')

In [0]:
test_encoded_sentences = t.texts_to_sequences(X_test)

In [0]:
x_pad_test = pad_sequences(test_encoded_sentences, maxlen = MAX_SEQUENCE_LENGTH, padding = 'post')

In [0]:
from keras.models import Model
from keras.layers import Embedding, LSTM, Bidirectional,Input, TimeDistributed, Flatten
from keras.layers.core import  Dense

In [0]:
embed_dim = 100

In [0]:
# main model
input1 = Input(shape=(MAX_SEQUENCE_LENGTH,))
model = Embedding(vocab_size, embed_dim, input_length=MAX_SEQUENCE_LENGTH)(input1)
model =  Bidirectional (LSTM (128,return_sequences=True,dropout=0.50),merge_mode='concat')(model)
model = TimeDistributed(Dense(100,activation='relu'))(model)
model = Flatten()(model)
model = Dense(100,activation='relu')(model)
output = Dense(2,activation='softmax')(model)
model = Model(input1,output)
model.compile(loss='sparse_categorical_crossentropy',optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:148: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3622: The name tf.log is deprecated. Please use tf.math.log instead.

In [0]:
model.fit(x_pad,Y_train,epochs=5, batch_size=1000,validation_split=0.15)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Train on 135702 samples, validate on 23948 samples
Epoch 1/5
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

135702/135702 [==============================] - 156s 1ms/step - loss: 0.3307 - acc: 0.8393 - val_loss: 0.1835 - val_acc: 0.9339
Epoch 2/5
135702/135702 [==============================] - 153s 1ms/step - loss: 0.1314 - acc: 0.9528 - val_loss: 0.1618 - val_acc: 0.9425
Epoch 3/5
135702/135702 [==============================] - 157s 1ms/step - loss: 0.0685 - acc: 0.9750 - val_loss: 0.1951 - val_acc: 0.9346
Epoch 4/5
135702/135702 [==============================] - 157s 1ms/step - loss: 0.0406 - acc: 0.9845 - val_loss: 0.2221 - val_acc: 0.9352
Epoch 5/5
135702/135702 [==============================] - 154s 1ms/step - loss: 0.0287 - acc: 0.9890 - val_loss: 0.2635 - val_acc: 0.9286

In [38]:
scores = model.evaluate(x_pad_test, Y_test, verbose=1) 
print("Accuracy: %.2f%%" % (scores[1]*100))

39913/39913 [==============================] - 471s 12ms/step
Accuracy: 93.14%